<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="ac.panoramix.uoe.mcmix">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:name="ac.panoramix.uoe.mcmix.MCMixApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity android:name="ac.panoramix.uoe.mcmix.UI_Handling.ConversationActivity"
                  android:windowSoftInputMode="adjustResize" >
        </activity>

        <service
            android:name="ac.panoramix.uoe.mcmix.Networking.MCMixNetworkService"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity android:name="ac.panoramix.uoe.mcmix.UI_Handling.HomeActivity">
        </activity>
        <activity android:name="ac.panoramix.uoe.mcmix.UI_Handling.LoginActivity">
        </activity>
        <activity android:name="ac.panoramix.uoe.mcmix.UI_Handling.UserRegistrationActivity">
        </activity>
        <activity android:name="ac.panoramix.uoe.mcmix.UI_Handling.UpdateKeysActivity">
        </activity>
        <activity android:name="ac.panoramix.uoe.mcmix.UI_Handling.StartUpActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="ac.panoramix.uoe.mcmix.UI_Handling.DebugHomeActivity">
        </activity>
    </application>

</manifest>